<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<remove name="LocalSqlServer" />
		<!--<add name="ConnectionStringHR" connectionString="Server=13.232.228.163;Database=HRIS;Integrated Security=False;User ID=HRISUSER; Password=Serdia@1357" providerName="System.Data.SqlClient" />-->
		<add name="ConnectionStringSM" connectionString="Server=182.73.224.100;Database=SalesManage;Integrated Security=False;User ID=GSA_IN1; Password=Serdia#1357" providerName="System.Data.SqlClient" />
		<!--<add name="ConnectionStringHR" connectionString="Server=localhost;Database=HRIS;Integrated Security=true" providerName="System.Data.SqlClient" />-->
	</connectionStrings>	
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
